// COLORS
$primary-color: #00715d;
$secondary-color: #ffd249;
$black: #020202;
$grey: #333333;
$white: #ffffff;
$white2: rgba(255, 255, 255, 0.7);

// BACKGROUND COLORS
$bg-color: #f3f2e7;
$bg-color2: #fcfbf7;

// TYPOGRAPHY
h1 {
  font-size: clamp(3.375rem, 5vw, 6.25rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(2.5rem, 5vw, 4rem);
}


p {
  font-weight: 400;
  font-size: 1.125rem;
}

// FONT
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&display=swap");

// BUTTONS
button {
  background-color: $primary-color;
  border: none;
  color: $white;
  padding: 1.125rem 2.375rem;
  font-weight: 500;
  font-size: 1.25rem;
}

// SECTIONS
section {
  padding: 1rem;
  padding-top: 3.625rem;
  padding-bottom: 3.625rem;
}

// IMAGES
img {
  object-fit: contain;
  max-inline-size: 100%;
}
