@import "./resets.scss";
@import "./variables.scss";
@import "./sidebars";

body {
  margin: 1rem;
  font-family: "DM Sans", sans-serif;
}

// HEADER SECTION
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

  ul {
    list-style: none;
  }

  button {
    border: none;
    background-color: $bg-color;
  }

  .content ul {
    margin: 1rem 0 0 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    ul:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

// SECTION ONE
.first,
.second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.5rem;

  h1 {
    max-inline-size: 9ch;
  }

  p {
    max-inline-size: 30ch;
    margin: 1rem 0 2rem 0;
  }
}

// SECTION TWO
#second {
  .charity {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
      color: $primary-color;
    }

    h2 {
      max-inline-size: 14ch;
    }

    p {
      margin: 1rem 0 2rem 0;
      max-inline-size: 58ch;
    }

    a {
      color: $primary-color;
    }
  }
}

// SECTION THREE
.section3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  #second {
    background-color: $grey;
    color: $white;
  }

  .initiatives {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex-basis: inherit;
    flex-grow: 2;
    min-width: inherit;
    background-color: $primary-color;
    color: $white;

    p {
      max-inline-size: 27ch;
      margin-top: 3rem;
      margin-left: 3.125rem;
    }

    a {
      text-align: left;
      margin-bottom: 3rem;
      margin-left: 3.125rem;
    }

    a {
      color: $white;
    }

    a:hover {
      color: $secondary-color;
    }

    a:visited {
      color: $primary-color;
    }
  }
}

//  SECTION FOUR
.section4 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;

  .helpus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;

    .articles {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 3rem;

      article {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      }
    }

    article p {
      max-inline-size: 25ch;
    }

    a {
      color: $primary-color;
    }

    .mission h1 {
      max-inline-size: 10ch;
    }
  }
}

// SECTION FIVE
.section5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  background-color: $primary-color;

  .campaign_head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: $white;
    padding: 3.125rem 1.125rem;

    h4 {
      color: $secondary-color;
    }

    h2 {
      max-inline-size: 16ch;
    }

    button {
      padding: 1.125rem 4.4375rem 1.125rem 2.375rem;
      border: 1px solid $white;

      a {
        text-decoration: dashed;
        color: $white;
      }

      i {
        padding-left: 0.5rem;
      }
    }
  }

  .campaign_mid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    position: relative;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1rem;
      position: relative;
      background-color: $white;
      // top: 200px;

      a {
        color: $primary-color;
      }

      a:hover {
        color: $grey;
      }

      h3 {
        max-inline-size: 12ch;
      }
    }
  }
}

// SECTION 6
.howWeWork {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.125rem;

  h3:first-child {
    color: $primary-color;
  }

  .weWork {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.5rem;

    div {
      h3 {
        margin: 0.6rem 0;
      }

      p {
        max-inline-size: 28ch;
      }
    }
  }
}

// SECTION 7
.newsLetter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;

  .news1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2.5rem 3.5rem;
    background-color: $primary-color;

    button {
      color: $primary-color;
      background-color: $white;
      padding: 10.7053px 22.6px;
    }
  }

  .news2 {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    #news h2 {
      margin-bottom: 1rem;
    }

    #input {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 1.125rem 16.563rem 1rem 1.188rem;
      }
    }

    p {
      max-inline-size: 31ch;
    }
  }
}

// SECTION 8
.section8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  h4 {
    color: $primary-color;
  }

  .testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      max-inline-size: 30ch;
    }
  }
}

// SECTION 9
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  .teamMembers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  button {
    border: 1px solid $primary-color;
    background-color: $white;
    color: $primary-color;
  }
}

// SECTION 10
.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;

  .stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 2.5rem;

    div:last-child {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }

    p {
      max-inline-size: 49ch;
    }
  }
}

// SECTION 11
.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .names {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    input {
      padding: 1.125rem 16.563rem 1rem 1.188rem;
    }
  }
}

// FOOTER
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: $black;

  h3,
  p {
    color: $white2;
  }

  .intro {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    div {
      display: flex;
      gap: 1rem;
    }
  }

  .company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.188rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        list-style-type: none;

        a {
          text-decoration: none;
          color: $white2;
        }
      }
    }
  }

  .extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      list-style-type: none;

      a {
        text-decoration: none;
        color: $white2;
      }
    }
  }

  .follow {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
