@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,600;9..40,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(3.375rem, 5vw, 6.25rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(2.5rem, 5vw, 4rem);
}

p {
  font-weight: 400;
  font-size: 1.125rem;
}

button {
  background-color: #00715d;
  border: none;
  color: #ffffff;
  padding: 1.125rem 2.375rem;
  font-weight: 500;
  font-size: 1.25rem;
}

section {
  padding: 1rem;
  padding-top: 3.625rem;
  padding-bottom: 3.625rem;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
  max-inline-size: 100%;
}

.sidebar {
  position: fixed;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 3.75rem;
  z-index: 1;
  background-color: #ffffff;
}

.baritem {
  padding: 0.5rem 1.8rem 0.5rem 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  cursor: pointer;
  text-align: left;
  font-size: 1.5rem;
}
.baritem a {
  text-decoration: none;
  color: #020202;
}

a:hover {
  color: #00715d;
  text-decoration: underline;
}

.sidebar div {
  cursor: pointer;
  text-align: left;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 1.56rem;
  font-size: 2.25rem;
  float: left;
}

.closebtn {
  cursor: pointer;
}

.closebtn:hover {
  color: #00715d;
}

.openbtn:hover {
  color: purple;
}

.baritem:active {
  background-color: white;
}

.openbtn {
  display: block;
  font-size: 1.7rem;
  cursor: pointer;
  float: right;
  background-color: black;
  border: none;
}

.openbtn.hide {
  display: none;
}

#main {
  position: relative;
  z-index: 1;
}

.hide {
  display: none;
}

.menu {
  position: relative;
}

.vector {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.vector .content {
  position: absolute;
  width: 10.813rem;
  height: 17.5rem;
  top: 4.375rem;
  background: #ffffff;
}

body {
  font-family: "DM Sans", sans-serif;
  height: 100vh;
  max-height: 100vh;
}

header {
  padding: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header ul {
  list-style: none;
}
.header button {
  border: none;
  background-color: #f3f2e7;
}
.header .content ul {
  padding: 1rem 0 0 0;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
.header .content ul ul:hover {
  color: #00715d;
  text-decoration: underline;
}
.header .desktop_nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.25rem;
}
.header .desktop_nav ul a {
  text-decoration: none;
}
.header .desktop_nav ul button {
  background-color: #020202;
}

.first,
.second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.5rem;
}
.first h1,
.second h1 {
  max-inline-size: 9ch;
}
.first p,
.second p {
  max-inline-size: 30ch;
  padding: 1rem 0 2rem 0;
}

#second .charity {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#second .charity h4 {
  color: #00715d;
}
#second .charity h2 {
  max-inline-size: 14ch;
}
#second .charity p {
  padding: 1rem 0 2rem 0;
  max-inline-size: 58ch;
}
#second .charity a {
  color: #00715d;
}

.section3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.section3 #second {
  background-color: #333333;
  color: #ffffff;
}
.section3 .initiatives {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  flex-basis: inherit;
  flex-grow: 2;
  min-width: inherit;
  background-color: #00715d;
  color: #ffffff;
}
.section3 .initiatives p {
  max-inline-size: 27ch;
  padding-top: 3rem;
  padding-left: 3.125rem;
}
.section3 .initiatives a {
  text-align: left;
  padding-bottom: 3rem;
  padding-left: 3.125rem;
}
.section3 .initiatives a {
  color: #ffffff;
}
.section3 .initiatives a:hover {
  color: #ffd249;
}
.section3 .initiatives a:visited {
  color: #00715d;
}

.section4 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;
}
.section4 .helpus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
.section4 .helpus .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}
.section4 .helpus .articles article {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.section4 .helpus article p {
  max-inline-size: 25ch;
}
.section4 .helpus a {
  color: #00715d;
}
.section4 .helpus .mission h2 {
  max-inline-size: 10ch;
}

.section5 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  background-color: #00715d;
}
.section5 .campaign_head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  padding: 3.125rem 1.125rem;
}
.section5 .campaign_head h4 {
  color: #ffd249;
}
.section5 .campaign_head h2 {
  max-inline-size: 16ch;
}
.section5 .campaign_head button {
  padding: 1.125rem 4.4375rem 1.125rem 2.375rem;
  border: 1px solid #ffffff;
}
.section5 .campaign_head button a {
  -webkit-text-decoration: dashed;
          text-decoration: dashed;
  color: #ffffff;
}
.section5 .campaign_head button i {
  padding-left: 0.5rem;
}
.section5 .campaign_mid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  position: relative;
}
.section5 .campaign_mid div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  position: relative;
  background-color: #ffffff;
}
.section5 .campaign_mid div a {
  color: #00715d;
}
.section5 .campaign_mid div a:hover {
  color: #333333;
}
.section5 .campaign_mid div h3 {
  max-inline-size: 12ch;
}

.howWeWork {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.125rem;
}
.howWeWork h3:first-child {
  color: #00715d;
}
.howWeWork .weWork {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.howWeWork .weWork div h3 {
  padding: 0.6rem 0;
}
.howWeWork .weWork div p {
  max-inline-size: 28ch;
}

.newsLetter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
.newsLetter .news1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2.5rem 3.5rem;
  background-color: #00715d;
}
.newsLetter .news1 button {
  color: #00715d;
  background-color: #ffffff;
  padding: 10.7053px 22.6px;
}
.newsLetter .news2 {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.newsLetter .news2 #news h2 {
  padding-bottom: 1rem;
}
.newsLetter .news2 #input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.newsLetter .news2 #input input {
  padding: 1.125rem 6.563rem 1rem 1rem;
}
.newsLetter .news2 p {
  max-inline-size: 31ch;
}

.section8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.section8 h4 {
  color: #00715d;
}
.section8 .testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.section8 .testimonials div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-inline-size: 30ch;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.team .teamMembers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.team button {
  border: 1px solid #00715d;
  background-color: #ffffff;
  color: #00715d;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.success .stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;
}
.success .stories div:last-child {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.success .stories p {
  max-inline-size: 49ch;
}

.join {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.join div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.join div .names {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.join div input {
  padding: 1.125rem 2.563rem 1rem 1rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: #020202;
}
.footer h3,
.footer p {
  color: rgba(255, 255, 255, 0.7);
}
.footer .intro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer .intro div {
  display: flex;
  gap: 1rem;
}
.footer .company {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3.188rem;
}
.footer .company div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer .company div ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  list-style-type: none;
}
.footer .company div ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.footer .extra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.footer .extra ul {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  list-style-type: none;
}
.footer .extra ul a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
.footer .follow {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 90rem) {
  body {
    max-width: 90rem;
  }
}
@media screen and (min-width: 36rem) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 36rem) {
  .desktop_nav {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */