@import "./resets.scss";
@import "./variables.scss";
@import "./sidebars";

body {
  margin: 1rem;
  background-color: $bg-color;
  font-family: "DM Sans", sans-serif;
}

// HEADER SECTION
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
  }

  button {
    border: none;
    background-color: $bg-color;
  }

  .content ul {
    margin: 1rem 0 0 0;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;

    ul:hover {
      color: $primary-color;
      text-decoration: underline;
    }
  }
}

// SECTION ONE
.first, .second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.5rem;

  h1 {
    max-inline-size: 9ch;
  }

  p {
    max-inline-size: 30ch;
    margin: 1rem 0 2rem 0;
  }
}

// SECTION TWO
#second {
  .charity {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    h4 {
      color: $primary-color;
    }

    h1 {
      max-inline-size: 14ch;
    }

    p {
      margin: 1rem 0 2rem 0;
      max-inline-size: 58ch;
    }

    a {
      color: $primary-color;
    }
  }
}

// SECTION THREE
.third {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  color: $white2;

  #grey {
    background-color: $grey;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 230px;
    background-color: $primary-color;

    p {
      max-inline-size: 20ch;
    }
  }
}

// .first {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-evenly;
//   align-items: center;
//   gap: 3.5rem;

// h1 {
//   max-inline-size: 9ch;
// }

// p {
//   max-inline-size: 30ch;
//   margin: 1rem 0 2rem 0;
// }
// }
